# Pandas Dataframes

In [14]:
import pandas as pd
import numpy as np
from  numpy.random import randn

In [21]:
# dataframe=pd.DataFrame(data,index,columns,dtype,copy)

In [39]:
Dataframe=pd.DataFrame(randn(4,5),index=['P','Q','R','S'],columns=['A','B','C','D','E'])
Dataframe

          A         B         C         D         E
P  0.175959 -0.486368  0.186711 -0.404243 -1.223367
Q -0.521896 -0.405500  2.415546 -0.690814  0.004434
R -0.240718 -0.915992  0.348185 -1.383135 -0.609456
S  0.061805  0.324368  1.066725  0.903609 -1.820567

# Indexing in pandas

In [43]:
# loc= loc[A]
# iloc=iloc[0]

In [75]:
# Dataframe.loc[]  #------------- loc function 
Dataframe.loc['P':'Q']

          A         B         C         D         E
P  0.175959 -0.486368  0.186711 -0.404243 -1.223367
Q -0.521896 -0.405500  2.415546 -0.690814  0.004434

In [69]:
# iloc funtion
Dataframe.iloc[1]

A   -0.521896
B   -0.405500
C    2.415546
D   -0.690814
E    0.004434
Name: Q, dtype: float64

## to print the p and r row using loc function

In [103]:
Dataframe.loc[["P","R"],["C","D"]]

          C         D
P  0.186711 -0.404243
R  0.348185 -1.383135

## to print the p and r row using iloc function

In [108]:
Dataframe

          A         B         C         D         E
P  0.175959 -0.486368  0.186711 -0.404243 -1.223367
Q -0.521896 -0.405500  2.415546 -0.690814  0.004434
R -0.240718 -0.915992  0.348185 -1.383135 -0.609456
S  0.061805  0.324368  1.066725  0.903609 -1.820567

In [112]:
Dataframe.iloc[[0,2],[2,3]]

          C         D
P  0.186711 -0.404243
R  0.348185 -1.383135

In [120]:
type(Dataframe)
type(Dataframe.loc['P'])

pandas.core.series.Series